@import url('button.css');
@import url('text.css');

body, html{
    height: 100%;
    background: url("./resources/star.jpg") no-repeat center/cover;;
}

canvas {
    position:absolute;
    width: 100%;
    height:100%;
    z-index: 80;
    display:none;
    background-color: black;
  
}
#contflex {
    height:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
#containerEndGame h1 {

    color:yellow;
    font-family: "Edu QLD Hand";
}